{
	"HOST": "http://localhost:3000",
	"DB_PATH_DEV": "http://localhost:5984",
	"DB_PATH_PRO": "https://path-to-couch-db:1234/",
	"DB_NAME_DEV": "db-name",
	"DB_NAME_PRO": "db-name",
	"ADMIN_USERS": "username",
	"GITHUB_CLIENT_ID": "you-github-client-id",
	"GITHUB_CLIENT_SECRET": "your-github-client-secret",
	"ROLLBAR_ACCESS_TOKEN": "your-rollbar-access-token"
}