<% layout('../../layout') -%>
<% var viewId = uid.generate() %>

<div id="<%= viewId %>" class="admin videos index ng-cloak" ng-init="seed_videos=<%= JSON.stringify(videos) %>">
	<div ng-controller="admin.suggestions.IndexCtrl" >
		
		<div class="row">
			<div class="large-12 columns">
				<p><span class="label">{{videos.length}}</span> videos to approve.</p>
		
				<div ng-show="videos.length == 0">
					<div data-alert class="alert-box">
						No videos found
					</div>
				</div>
				
				<div ng-show="videos.length > 0">
					<table>

						<tbody>
							<tr ng-repeat="video in videos">
								<td>
									<img ng-src="{{video.thumbM}}" alt="" />
								</td>
								
								<td>
									<h3>{{video.title}}</h3>
									<p>{{video._id}}</p>
									<p>{{video.presenter}}</p>
									<p>
										<a ng-href="{{video.url}}" target="_blank">{{video.url}}</a>
									</p>
									<p>
										Provider: {{video.provider}}
									</p>
									<p>
										Tags: {{video.tags}}
									</p>
									<br />
									{{video.description}}
								</td>
								
								<td>
									<span ng-hide="video.busy">
										<a href="javascript://" title="" ng-click="clickApprove($index, video)">Approve</a>
										<a href="javascript://" title="" ng-click="clickDelete($index, video)">Delete</a>
									</span>
									<span ng-show="video.busy">
										<i class="icon-spinner icon-spin icon-large"></i>
									</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				
			</div>
		</div>

	</div>
</div>