<% layout('../../layout') -%>
<% var viewId = uid.generate() %>

<div id="<%= viewId %>" class="admin suggestions index ng-cloak" ng-controller="admin.suggestions.IndexCtrl" data-suggestions="<%= JSON.stringify(suggestions) %>">
	
	<div class="row">
		<p><span class="label">{{suggestions.length}}</span> suggestions to approve.</p>
	</div>
	
	<div class="row" ng-show="suggestions.length == 0">
		<div data-alert class="alert-box">
			No suggestions found
		</div>
	</div>
	
	<div class="row" ng-show="suggestions.length > 0">
		<table>
			<thead>
				<tr>
					<th>Url</th>
					<th>Title</th>
					<th>Desc</th>
					<th>Tags</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="suggestion in suggestions">
					<td>{{suggestion.url}}</td>
					<td>{{suggestion.title}}</td>
					<td>{{suggestion.description}}</td>
					<td>{{suggestion.tags}}</td>
					<td>
						<a href="#" title="" ng-click="clickApprove($event, $index, suggestion)">Approve</a>
						<a href="#" title="" ng-click="clickDelete($event, $index, suggestion)">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>