@topbar_height: 60px;

body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none;
}

a {
	color: #00B7FF;
}

.top-bar{
	background-color: #222;
	height: @topbar_height;
	.name{
		height: @topbar_height;
		img{
			margin: 6px 0 0 0;
		}
	}
	.username{
		span{
			background: none repeat scroll 0 0 #111111;
			line-height: 45px;
			padding: 0 15px;
			color: #ccc;
			display: block;
			font-size: 0.8125em;
		}
	}
	.login{
		i{
			vertical-align: middle;
		}
	}
}

.top-bar-section > ul > .divider {
	height: @topbar_height;
}
.top-bar-section li a:not(.button) {
	background-color: #222;
	
	height: 60px;
	line-height: normal;
	padding-top: 28px;
}

.selected_tags{
	.label+.label{
		margin-left: 6px;
	}
}

.select2-container-multi .select2-choices .select2-search-field input{
	height: 26px;
}

.videos.index{
	.video{
		margin: 0 0 8px 0;
	}
}

#disqus_thread{

}