@topbar_bg_color: #222;

body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #3f3f3f;
}
section.main{
	background-color: white;
	min-height: 600px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none;
}

a {
	color: #00B7FF;
}

.top-bar{
	background-color: @topbar_bg_color;
	.name{
		img{
			margin: 6px 0 0 0;
		}
	}
	.username{
		span{
			background: none repeat scroll 0 0 #111111;
			line-height: 45px;
			padding: 0 15px;
			color: #ccc;
			display: block;
			font-size: 0.8125em;
		}
	}
	.login{
		i{
			vertical-align: middle;
		}
	}
}
.top-bar.expanded {
	background-color: @topbar_bg_color;
	.title-area{
		background-color: @topbar_bg_color;
	}
}

.top-bar-section li a:not(.button) {
	background-color: @topbar_bg_color;
}

.selected_tags{

}

.label+.label{
	margin-left: 6px;
}

.select2-container-multi .select2-choices .select2-search-field input{
	height: 26px;
}

.videos.index{
	.video{
		margin: 0 0 8px 0;
		padding: 12px 0 12px 0px;
		border-top: 1px #ddd solid;
	}
}

.subtle{
	color: #999;
}
.small{
	font-size: 90%;
}

footer.main{
	background: #3f3f3f;
	color: #fff;
	padding: 8px 16px;
	margin-top: 20px;
}

#disqus_thread{

}