<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Welcome to Foundation</title>
  
  <!-- Included CSS Files (Uncompressed) -->
  <!--
  <link rel="stylesheet" href="stylesheets/foundation.css">
  -->
  
  <!-- Included CSS Files (Compressed) -->
	<link rel="stylesheet" href="/css/lib/foundation.min.css">
	<link rel="stylesheet" href="/css/lib/toastr.min.css">
	<link rel="stylesheet" href="/css/lib/select2.css">
	<link rel="stylesheet" href="/css/app/app.css">

	<!--<script src="/js/lib/jquery.js"></script>-->
	<script src="/js/lib/foundation.min.js"></script>

</head>
<body>
	<%- include nav -%>
	<%- body -%>

	<script src="/js/lib/can.jquery.min.js"></script>
	<script src="/js/lib/namespacer.min.js"></script>
	<script src="/js/lib/jquery-io.min.js"></script>
	<script src="/js/lib/toastr.min.js"></script>
	<script src="/js/lib/select2.min.js"></script>
	<script src="/js/lib/rivets.min.js"></script>
	<script src="/js/lib/jquery.tagcloud.js"></script>
	<script src="/js/app/rivets_config.js"></script>

	<script src="/js/app/app.js"></script>

</body>
</html>
