<nav class="top-bar">
	<ul class="title-area">
		<!-- Title Area -->
		<li class="name">
			<h1>
				<a href="/">
					<img src="/img/app/logo.png" alt="" />
				</a>
			</h1>
		</li>
		<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	</ul>

	<section class="top-bar-section">
		<!-- Left Nav Section -->
		<ul class="left">
			<li class="divider"></li>
			<li>
				<a href="/videos">Find Videos</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="/suggestions/new">Suggest</a>
			</li>
			<li class="divider"></li>
			<% if (allowAdmin) { %>
				<li>
					<a href="/admin/suggestions">Admin suggestions</a>
				</li>
				<li class="divider"></li>
			<% } %>
		</ul>

		<ul class="right">
			<% if (user) { %>
				<li class="username">
					<span>
						<%= user.username %>
					</span>
				</li>
				<li>
					<a href="/logout">Logout</a>
				</li>
			<% } else { %>
				<li class="login">
					<a href="/auth/github">
						<i class="icon-github icon-2x"></i> Login with GitHub
					</a>
				</li>
			<% } %>
		</ul>

	</section>

</nav>