<% layout('../layout') -%>
<% var viewId = uid.generate() %>

<div id="<%= viewId %>" class="videos index">
	<div class="row">
		<h1>Videos</h1>
		<div class="large-3 columns">
			<ul class="side-nav">
				<li class="active"><a href="#">Latests</a></li>
				<li><a href="#">Highest rating</a></li>
				<li class="divider"></li>
				<li>Tags:
					
				</li>
			</ul>
		</div>
		<div class="large-9 columns">
			Res
		</div>
	
	</div>
</div>