<% layout('../layout') -%>
<% var viewId = uid.generate() %>

<div id="<%= viewId %>" class="videos index ng-cloak" ng-controller="videos.IndexCtrl" data-tags="<%= JSON.stringify(tags) %>">

	<br />
	<div class="row">
		<div class="large-12 columns">
			
			<div class="large-2 columns">
				<ul class="side-nav">
					<li class="selected_tags">
						<a href="javascript://" ng-repeat="tag in query.tags" ng-click="removeTag($index, tag)">
							<span  class="radius label">{{tag}} <i class="icon-remove"></i></span>
						</a>
					</li>
					<li>Tags:
						<div class="cloud">
							<a href="javascript://" rel="{{tag.value}}" ng-repeat="tag in allTags | filter: unselected" ng-click="addTag($index, tag)">{{tag.key}}</a>
						</div>
					</li>
				</ul>
			</div>
			<div class="large-10 columns">
			
				<div ng-show="location.path() === '/latest'">
					<h1 class="subheader">Latest additions</h1>
				</div>
				
				<div ng-show="location.path() === '/search'">
					<h1 class="subheader">Search</h1>
				</div>
			
				<div ng-show="videos.length > 0">
					<p>{{videos.length}} videos found</p>
				</div>
				
				<i class="icon-refresh icon-spin" ng-show="state.retrieving"></i>
				
				<div class="video row" ng-repeat="video in videos">
					<div class="large-3 columns">
						<a ng-href="/videos/{{video._id}}" class="th">
							<img ng-src="{{video.thumbS}}" alt="" />
						</a>
					</div>
					<div class="large-9 columns">
						<h4>{{video.title}}</h4>
						<p><span ng-show="{{video.presenter}}">{{video.presenter}}.&nbsp;&nbsp;</span>
						<span class="subtle small">Added on {{video.createdAt | date:'yyyy-MM-dd'}}</span></p>
						<a ng-href="/videos/{{video._id}}"><i class="icon-eye-open"></i> Watch</a>
					</div>
				</div>
				
			</div>
		
		</div>
	</div>
</div>