<% layout('../layout') -%>
<% var viewId = uid.generate() %>

<div id="<%= viewId %>" class="suggestions new" data-tags="<%= JSON.stringify(tags) %>">

	<script id="template" type="text/mustache">
		<div class="row">
			<h1>New</h1>
		</div>
		
		<p>http://www.youtube.com/watch?v=OsO_UrT8ELI</p>
		<p>http://vimeo.com/6132324</p>

		<form action="">
			<div class="row">
				<input type="text" placeholder="URL" class="input_url" name="suggestion[url]" value="{{model.url}}" />
				<button class="button btn_retrieve" {{state.enableBtnRetrieve}}>
					Retrieve information
				</button>
				<div class="loader" style="display:block;" data-rv-show="state.showLoaderRetrieve">
					<img src="/img/lib/loader.gif" alt="">
				</div>
				<br />
				<br />
			</div>
			
			<div class="row" data-rv-hide="model.thumbM | blank">
				<div class="th"><img data-rv-src="model.thumbM"></div>
				<br />
			</div>
			
			<div class="row">
				<input type="text" placeholder="Title" class="input_title" name="suggestion[title]" data-rv-value="model.title" />
				<input type="text" placeholder="Description" class="input_description" name="suggestion[description]" data-rv-value="model.description" />
				<input type="text" placeholder="Who is on it?" class="input_who" name="suggestion[who]" data-rv-value="model.who" />
			</div>
			
			<div class="row">
				<div class="one columns">
					<label>Tags</label>
				</div>
				<div class="eleven columns">
					<div class="select_tags" style="width:250px;">
					</div>
				</div>
			</div>
			<br />
			
			<div class="row">
				<button class="button btn_save" href="#" {{state.enableBtnSave}} data-rv-show="state.showBtnSave">Save</button>
				<div class="loader" style="display:block;" data-rv-show="state.showLoaderSave">
					<img src="/img/lib/loader.gif" alt="">
				</div>
			</div>
		</form>
	</script>

	<script>
		$(function () {
			APP.modules.suggestions.new.init('#<%= viewId %>');
		});
	</script>

</div>
