<% layout('../layout') -%>
<% var viewId = uid.generate() %>

<div id="<%= viewId %>" class="suggestions new" data-tags="<%= JSON.stringify(tags) %>">

	<div class="row">
		<h1>New</h1>
	</div>

	<form action="">
		<div class="row">
			<input type="text" placeholder="URL" class="input_url" name="suggestion[url]" value="" ng-model="model.url" />
			<a class="button btn_retrieve" href="#" data-rv-show="state.showBtnRetrieve">
				Retrieve information
			</a>
			<div class="loader" style="display:block;" data-rv-show="state.showLoaderRetrieve">
				<img src="/img/lib/loader.gif" alt="">
			</div>
			<br />
			<br />
		</div>
		
		<div class="row">
			<input type="text" placeholder="Description" class="input_description" name="suggestion[description]" value="" />
			<input type="text" placeholder="Who is on it?" class="input_who" name="suggestion[who]" value="" />
		</div>
		
		<div class="row">
			<div class="one columns">
				<label>Tags</label>
			</div>
			<div class="eleven columns">
				<div class="select_tags" style="width:250px;">
				</div>
			</div>
		</div>
		<br />
		
		<div class="row">
			<a class="button btn_save" href="#" data-rv-show="state.showBtnSave">Save</a>
			<div class="loader" style="display:block;" data-rv-show="state.showLoaderSave">
				<img src="/img/lib/loader.gif" alt="">
			</div>
		</div>
	</form>
	
	<script>
		$(function () {
			APP.modules.suggestions.new.init('#<%= viewId %>');
		});
	</script>

</div>
