<% layout('../layout') -%>
<% var viewId = uid.generate() %>

<div id="<%= viewId %>" class="suggestions new" data-tags="<%= JSON.stringify(tags) %>">

	<div class="row">
		<h1>New</h1>
	</div>

	<form action="">
		<div class="row">
			<input type="text" placeholder="URL" class="input_url" name="suggestion[url]" value="" ng-model="model.url" />
			<a class="button btn_retrieve" href="#" data-rv-show="state.showBtnRetrieve">
				Retrieve information
			</a>
			<div class="loader" style="display:block;" data-rv-show="state.showLoaderRetrieve">
				<img src="/img/lib/loader.gif" alt="">
			</div>
			<br />
			<br />
		</div>
		
		<div class="row">
			<input type="text" placeholder="Description" class="input_description" name="suggestion[description]" value="" />
			<input type="text" placeholder="Who is on it?" class="input_who" name="suggestion[who]" value="" />
		</div>
		
		<div class="row">
			<div class="one columns">
				<label>Tags</label>
			</div>
			<div class="eleven columns">
				<div class="select_tags" style="width:250px;">
				</div>
			</div>
		</div>
		<br />
		
		<div class="row">
			<a class="button btn_save" href="#" data-rv-show="state.showBtnSave">Save</a>
			<div class="loader" style="display:block;" data-rv-show="state.showLoaderSave">
				<img src="/img/lib/loader.gif" alt="">
			</div>
		</div>
	</form>
	
	<script>
		$(function () {
			'use strict';

			var Control = can.Control({

				init: function (ele, options) {
					//this.$loader_save = $('.loader_save', this.element);
					this.$inputUrl = $('.input_url', this.element);
					this.$inputDes = $('.input_description', this.element);
					this.$selectTags = $('.select_tags', this.element);
					//this.$inputDes = $('.input_description', this.element);

					this.state = new can.Observe({
						showBtnRetrieve: true,
						showLoaderRetrieve: false,
						showBtnSave: true,
						showLoaderSave: false
					});

					rivets.bind(this.element, {state: this.state});

					this.setupTags();
				},

				'.btn_retrieve click': function (ele, ev) {
					this.state.attr('showLoaderRetrieve', true);
					this.state.attr('showBtnRetrieve', false);
					this.retrieve();
					return false;
				},

				'.btn_save click': function (ele, ev) {
					this.save();
					return false;
				},

				setupTags: function () {
					var tags = this.element.data('tags');
					//console.log(tags)
					this.$selectTags.select2({
						tags: tags
					});
				},

				retrieve: function () {
					var self = this;
					var url = this.$inputUrl.val();
					this.state.attr('showLoaderRetrieve', true);
					this.state.attr('showBtnRetrieve', false);
					$.ajax({
						url: '/urls',
						data: {url: url},
						success: function(data, textStatus, xhr) {
							//console.log(data);
							self.$inputDes.val(data.description);

							self.state.attr('showLoaderRetrieve', false);
							self.state.attr('showBtnRetrieve', true);
						},
						error: function(xhr, textStatus, error) {
							APP.flashError(error);
							self.state.attr('showLoaderRetrieve', false);
							self.state.attr('showBtnRetrieve', true);
						}
					});
				},

				save: function () {
					var self = this;
					this.state.attr('showLoaderSave', true);
					this.state.attr('showBtnSave', false);
					
					var data = io.form($('form', this.element)).object();
					data.suggestion.tags = this.$selectTags.val().split(',');

					$.ajax({
						url: '/suggestions',
						type: 'POST',
						data: data,
						success: function(data, textStatus, xhr) {
							console.log(data)
							self.state.attr('showLoaderSave', false);
							self.state.attr('showBtnSave', true);
						},
						error: function(xhr, textStatus, errorThrown) {
							APP.flashError(error);
							self.state.attr('showLoaderSave', false);
							self.state.attr('showBtnSave', true);
						}
					});
				}
			});

			var control = new Control($('#<%= viewId %>'));
		});
	</script>

</div>
