<% layout('../layout') -%>
<% var viewId = uid.generate() %>



<div id="<%= viewId %>" class="suggestions new" ng-controller="ANG.suggestions.NewCtrl">

	{{model}}
	
	<h1>New</h1>

	<form action="">
		<input type="text" placeholder="URL" class="input_url" name="suggestion[url]" value="" ng-model="model.url" />
		<a class="button" href="#" ng-click="retrieve($event)" ng-show="state.showBtnRetrieve">Retrieve information</a>
		<div class="loader" style="display:block;" ng-show="state.showLoaderRetrieve">Loading</div>
		<br />
		<br />
		
		<input type="text" placeholder="Description" class="input_description" name="suggestion[description]" value="" />
		
		<input type="text" placeholder="Who is on it?" name="suggestion[who]" value="" />
		
		<label>Tags</label>
		<input type="text" placeholder="Standard Input" value="ddd" />
		<a class="button" href="#"  ng-show="state.showBtnSave" ng-click="save($event)">Save</a>
		<div class="loader" style="display:block;" ng-show="state.showLoaderSave">Loading</div>
	</form>
	
	<script>
		(function () {
			'use strict';

			var ANG = angular.module('ANG', []);

			ANG.controller('ANG.suggestions.NewCtrl', function ($scope, $http) {
				$scope.state = 'hello';
				$scope.state = {
					showBtnRetrieve: true,
					showLoaderRetrieve: false,
					showBtnSave: true,
					showLoaderSave: false
				}

				$scope.model = {
					url: 'URL'
				}

				$scope.retrieve = function (ev) {
					ev.preventDefault();

					$scope.state.showLoaderRetrieve = true;
					$scope.state.showBtnRetrieve = false;

					var params = {url: $scope.model.url};

					$http.get('/urls', {params: params})
						.success(function (data, status, headers, config) {
							$scope.model.description = data.description;
						})
						.error(function(data, status, headers, config) {
							APP.flashError(status);
						})
						.then(function () {
							$scope.state.showLoaderRetrieve = false;
							$scope.state.showBtnRetrieve = true;
						});
				}

				$scope.save = function (ev) {
					ev.preventDefault();

					$scope.state.showLoaderSave = true;
					$scope.state.showBtnSave = false;

					var data = {suggestion: $scope.model};

					$http.post('/suggestions', {data: data})
						.success(function (data, status, headers, config) {
							//
							APP.flashSuccess('Saved');
						})
						.error(function(data, status, headers, config) {
							APP.flashError(status);
						})
						.then(function () {
							$scope.state.showLoaderSave = false;
							$scope.state.showBtnSave = true;
						});
				}

			});

		}());
	</script>

</div>
