<% layout('../layout') -%>
<% var viewId = uid.generate() %>

<div id="<%= viewId %>" class="suggestions new" data-tags="<%= JSON.stringify(tags) %>"
		 ng-controller="suggestions.NewCtrl" xmlns="http://www.w3.org/1999/html">

	<div class="row">
		<div class="large-12 columns">
			<h1>Suggest a video</h1>


			<form name="suggestion_form" action="" nonvalidate>

				<input type="text" placeholder="URL" ng-model="model.url" name="url" required />

				<small class="error" ng-show="suggestion_form.url.$invalid">
					<span ng-show="suggestion_form.url.$error.required">Please add a url</span>
				</small>

				<button class="button" ng-disabled="!state.enableBtnRetrieve()" ng-click="clickRetrieve($event)" ng-show="!state.retrieving">
					Retrieve information
				</button>

				<div class="loader" ng-show="state.retrieving" style="display:none;"><img src="/img/lib/loader.gif" alt=""></div>

				<br />


				<div ng-show="model.thumbM">
					<div class="th"><img ng-src="{{model.thumbM}}" /></div>
					<br />
				</div>

				
					<input type="text" placeholder="Title" ng-model="model.title" name="title" required />

					<small class="error" ng-show="suggestion_form.title.$invalid">
						<span ng-show="suggestion_form.title.$error.required">Please add a title</span>
					</small>
					
					<input type="text" placeholder="Presenter(s)" ng-model="model.presenter" name="presenter" />

					<textarea ng-model="model.description"></textarea>
				</div>
			</div>

			<div class="row">
				<div class="large-12 columns">
					<label>Tags</label>
					<div class="select_tags" style="width:100%;"></div>
				</div>
				
			</div>
			
			<br />

			<div class="row">
				<div class="large-12 columns">
					<button class="button" ng-show="!state.saving" ng-disabled="suggestion_form.$invalid" ng-click="clickSave($event)">Save</button>
					<div class="loader" style="display:none;" ng-show="state.saving"><img src="/img/lib/loader.gif" alt=""></div>
				</div>
			</div>
		</form>

</div>
