<% layout('../layout') -%>

<div class="about" >
	<div class="row">
		<div class="large-12 columns">
			<h1>About</h1>
			<p>DevTalks is an open source project created by <a href="https://twitter.com/sebasporto" target="_blank">Sebastian Porto</a>. You can find the source code in <a href="https://github.com/sporto/devtalks.net" target="_blank">GitHub</a>.</p>
			<p>For feature requests and issues please create an issue in <a href="https://github.com/sporto/devtalks.net/issues" target="_blank">GitHub</a>.</p>
		</div>
	</div>
</div>