<% layout('../layout') -%>
<% var viewId = uid.generate() %>

<div id="<%= viewId %>" class="sessions new">
	<div class="row">
		<h1>Login</h1>
		<div class="provider">
			<div href="#" class="fc-webicon github large">Github</div> <a href="/auth/github">Login with GitHub</a>
		</div>
	</div>
</div>